**
!apps/
!apps/go-server/
!apps/go-server/go.mod
!apps/go-server/go.sum
!apps/go-server/cmd/
!apps/go-server/cmd/**
!apps/go-server/internal/
!apps/go-server/internal/**
!apps/server/
!apps/server/dist/
!apps/server/dist/**
!global-bundle.pem
